[Unit]
Description=Socket for on-demand activation of hexa-backend

[Socket]
ListenStream=127.0.0.1:8001
Accept=no

[Install]
WantedBy=sockets.target
